<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:name=".ClinicGoApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="ClinicGo"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ClinicGoPatient"
        android:usesCleartextTraffic="true">

        <!-- usesCleartextTraffic=true allows HTTP to localhost during development -->

        <activity
            android:name=".activities.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.ClinicGoPatient.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.ClinicGoPatient.NoActionBar" />

        <activity
            android:name=".activities.RegisterActivity"
            android:exported="false"
            android:theme="@style/Theme.ClinicGoPatient.NoActionBar" />

        <activity
            android:name=".activities.HomeActivity"
            android:exported="false"
            android:theme="@style/Theme.ClinicGoPatient.NoActionBar" />

    </application>

</manifest>
